#global-hd-container {
	background-image: none;
}

#global-hd ul li {
	padding: 0px 14px 0px 18px;
}

#container #logos {	
	margin-top: 5px;
}

#logos #ieee {
	background-image: url(../images/logo_ieeeWHT.gif);
}

#logos #links {
	width: 535px;
}

#navbar #navigation ul li a {
	background-image: none;
}

#navbar #navigation ul li a:hover {
	background-image: none;
}

#navbar #navigation ul li a.active {
	background-image: none;
}

#search #searchbox {
	background: url(../images/bg_searchLeft.gif) no-repeat top left;
}

#search .srch-btn-right {
	background: url(../images/bg_searchRight.gif) no-repeat 0 1px;
}

#search #searchbutton {
	background-image: url(../images/btn_Left.gif);
}

#search .btn-right {
	background: url(../images/btn_Right.gif) no-repeat 0 0;
}

#search #searchbox {
	background: url(../images/bg_searchLeft.gif) no-repeat top left;
}

#searchbox2 {
	background: url(../images/bg_searchLeft.gif) no-repeat top left;
}

.srch-btn-left {
	background: url(../images/btn_Left.gif) no-repeat 0 0;
}

.srch-btn-right {
	background: url(../images/bg_searchRight.gif) no-repeat 0 1px;
}

#searchbutton {
	background-image: url(../images/btn_Left.gif);
}

.submit-btn-left {
	background: url(../images/btn_Left.gif) no-repeat 0 0;
}

.btn-left {
	background: url(../images/btn_Left.gif) no-repeat 0 0;
}

.btn-right {
	background: url(../images