a:link, a:visited {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
a:hover, a:active {
	color: #000;
	text-decoration: underline;
}

/* Global IEEE Header */
#global-hd-container {
	width: 100%;
	height: 35px;
	background-image: url(../images/bg_global_header.png);
}
#global-hd {
	width: 980px; 
	margin: auto; 
	text-align: left;
	padding: 10px 0px;
	font-size: .9em;
}
#global-hd ul {
	width: 980px;
	text-align: left;
	display: inline;
}
#global-hd ul li {
	display: inline;
	border-right: 1px solid #fff;
	padding: 0px 18px 0px 14px;
}
#global-hd ul li.last {
	display: inline;
	border-right: 0px;
}
#global-hd a:link, #global-hd a:visited {
	color: #fff;
	font-weight: normal;
} 
#global-hd a:hover, #global-hd a:active {
	text-decoration: underline;
	color: #fff; 
} 

#sign-in {
	float: right; 
	margin-right: 30px;
	font-weight: bold;
}

a.arrow {
	background: url(../images/icon_arrow.png) no-repeat;
	padding: 0 0 10px 28px;
}

a.read-more {
	padding: 0 0 0 10px;
	background: url(../images/btn_carrot.gif) no-repeat 0 4px;
}

a.button:link, a.button:hover, a.button:active, a.button:visited {
	background: url(../images/btn_black.gif) repeat-x;
	padding: 4px;
	color: #fff;
	font-weight: normal;
	font-size: .9em;
}

input, textarea, select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

input.round {
	width: 240px;
	height: 30